/*---------------------------------
General
---------------------------------*/
:root{
	--fs-sm: clamp(0.85rem, 0.17vi + 0.8rem, 1.2rem);
	--fs-base: clamp(1rem, 0.23vi + 0.94rem, 1.5rem);
	--fs-md: clamp(1.25rem, 0.35vi + 1.16rem, 2rem);
	--fs-lg: clamp(1.56rem, 0.51vi + 1.43rem, 2.67rem);
	--fs-xl: clamp(1.95rem, 0.74vi + 1.77rem, 3.55rem);
	--fs-xxl: clamp(2.44rem, 1.07vi + 2.17rem, 4.74rem);
	--fs-xxxl: clamp(3.05rem, 1.52vi + 2.67rem, 6.31rem);

	--color-1: #131C25;
	--color-2: #28436A;
	--color-3: #852C87;
	--color-4: #ED7004;
	--color-5: #FCC000;
	--color-6: #9A1921;

	--black: #161815;
    --white: #fcfcfc;

	--white-10: #fcfcfc1a;

	--gradient-1: linear-gradient(0deg, var(--color-5) ,var(--color-4));

	--container-size: 86%;
	--container-half-size: calc( (100% - var(--container-size) ) / 2 );

	--border--radius: 0.25rem;

	--space-1: 128px;


	--sticky: 10vh;
}

*, *::before, *::after { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: "Source Sans 3", sans-serif; font-optical-sizing: auto; font-weight: 400; font-style: normal; background-color: var(--color-1); color: var(--white);   overscroll-behavior: none;
}
img, video, picture { display: block; width: 100%; height: auto; }
h1 { margin-block-end: 1rem; }
p { margin-block-end: 1rem; font-size: var(--fs-md); line-height: 1.8; text-wrap: pretty; }


/*---------------------------------
Helpers
---------------------------------*/
.container { width: var(--container-size); margin-left: auto; margin-right: auto; }


/*---------------------------------
Section
---------------------------------*/
.section { margin: var(--space-1) auto; display: flex; justify-content: space-between; align-items: flex-start;  width: var(--container-size); }
.section--reverse { flex-direction: row-reverse; }
.section__header{ position: sticky; top: var(--sticky);  width: 20%; display: flex; justify-content: start; border: 1px solid red;}
.section--reverse .section__header{ justify-content: end;}
.section__header h2 { font-size: calc(var(--fs-xxxl) * 1.8); font-family: "Kanit", sans-serif; font-weight: 600; font-style: normal; text-transform: uppercase; letter-spacing: 2px; opacity: 0.1; writing-mode: vertical-lr; text-wrap: nowrap; }
.section__header h2::before { content: '/'; }

.section__content{width: 80%; border: 1px solid blue;;}

@media (max-width: 1200px) {
	.section__header h2  {  font-size: var(--fs-xxxl); }
}

@media (max-width: 600px) {
	.section__header h2  {  font-size: var(--fs-xxl); }
}

/*---------------------------------
Lenis
---------------------------------*/

html.lenis, html.lenis body { height: auto; }
.lenis.lenis-smooth { scroll-behavior: auto !important; }
.lenis.lenis-smooth [data-lenis-prevent] { overscroll-behavior: contain; }
.lenis.lenis-stopped { overflow: hidden; }
.lenis.lenis-smooth iframe { pointer-events: none; }


/*---------------------------------
Button
---------------------------------*/
.button { background: transparent; outline: none; border: 3px solid var(--white); color: var(--white); font-family: "Kanit", sans-serif; font-weight: 600; font-style: normal; text-transform: uppercase; padding: 1rem; font-size: var(--fs-base); mix-blend-mode: difference; position: relative; border-radius: 0.25rem; cursor: pointer; }
.button::before { content: ''; position: absolute; top: 0; left: 0; background: var(--color-1); width: 40%; height: 100%; z-index: -1; transition: 0.4s; animation: button_animation 3s infinite ease-in-out; }
.button::after { content: '>>'; margin-left: 1ch; }

.button:hover::before { width: 100%; animation: none; transition: 0.4s; animation: button_animation_full 0.8s  ease-in-out; }

@keyframes button_animation {
	0%, 20%, 100% { width: 40%; }
	30% { width: 50% }
	40% { width: 40% }
	75% { width: 40% }
	85% { width: 60% }
 }

@keyframes button_animation_full {
	from { width: 0%; }
	to { width: 100%; }
 }



/*---------------------------------
Header
---------------------------------*/
.header { position: relative; height: 85vh; height: 85svh;  }

.header__media { position: absolute; top: 0; right: 0;  height: 100%; aspect-ratio: 9/16; }
.header__media video { width: 100%; height: 100%; object-fit: cover; z-index: -1; }

.header__gradient { position: absolute; top: 0; right: 0; height: 100%; width: 70%; background: var(--gradient-1);  z-index: -2; ; }

.header__text { width: 86%; z-index: 10; text-wrap:balance;  text-align: right; position: absolute; top: 50%; right: 30%; transform: translate(-0%, -50%); max-width: 1200px;}
.header__text h1 { font-size: var(--fs-xxl); font-weight: 400; }
.header__text h1 span { color: var(--color-1); font-family: "Kanit", sans-serif; font-weight: 600; font-style: normal; }
.header__text h1 strong { font-family: "Kanit", sans-serif; font-weight: 600; font-style: normal; }

@media (max-width: 1024px) {
	.header { display: grid; place-items: center; min-height: 70vh; }
	.header__media { height: 100%; width: 50%; }
	.header__text { position: static; transform: unset; }
	.header__gradient { width: 93%; }
 }


/*---------------------------------
Scroller
---------------------------------*/
.scroller { display: flex;  background: var(--white); position: relative; height: 15vh; height: 15svh; align-items: center; }
.scroller::before { content: ''; height: 100%; width: 10%; background: var(--color-6); position:absolute; left: 0; top:0; z-index: 5;}

.scroller__text { margin-left: var(--container-half-size); color: var(--black); display: flex; align-items: center; z-index: 10; }
.scroller__text h2 { font-size: var(--fs-base); font-family: "Kanit", sans-serif; font-weight: 600; font-style: normal;  }

.scroller__media { overflow: hidden; -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent); mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent); height: 80%; ; }
.scroller__media__inner { display: flex; gap: 5vw; overflow: hidden; flex-wrap: nowrap; animation: scroll 20s linear infinite; width: max-content; height: 100%; z-index: -1;position: relative; }

.scroller__media__item { height: 100%; ;  aspect-ratio: 5/3; }
.scroller__media__item img { object-fit: contain; height: 100%; width: 100%; }

@keyframes scroll {
	to { transform: translateX(calc(-50% - 2.5vw)); }
}

@media (max-width: 600px) {
	.scroller::before { width: 20%; }
}


/*---------------------------------
Text
---------------------------------*/
.text__content{max-width: 200ch;}
.text__content h3 { font-size: var(--fs-xl); margin-block-end: 1rem; font-weight: 200; }

@keyframes scroll-reveal {
	to { background-position: 100% 100%; }
}

@media (max-width: 600px) {
	.text__content h3 { font-size: var(--fs-md); margin-block-end: 1rem; }
	.text__content p { font-size: var(--fs-base); }
}


/*---------------------------------
Services
---------------------------------*/
.services__content__header{ max-width: 80ch;}
.services__content__header h3 { font-size: var(--fs-sm); margin-block-end: 0.4rem; text-transform: uppercase;}
.services__content__header p { font-size: var(--fs-xl); margin-block-end: 1rem; font-weight: 200;}

.services__content__items { display: flex; justify-content: space-between; flex-wrap: wrap; row-gap: var(--space-1); align-items: flex-start; }

.services__content__items .service {  position: sticky; top:var(--sticky); background: var(--color-1); border: 1px solid green; width: 30%; }


.services__content__items .service__media { aspect-ratio: 1; }
.services__content__items .service__media img { height: 100%; object-fit: cover; width: 100%; border-radius: var(--border--radius); }

.services__content__items .service__text h4 { font-size: var(--fs-md); margin-block-start: 1rem; margin-block-end: 0.5rem; }
.services__content__items .service__text p { font-size: var(--fs-sm); opacity: 0.5; margin-block-end: 0; }


@media (max-width: 1200px) {
	.services__content__items .service { width: 47%; }
	.services__content__header p { font-size: var(--fs-lg); margin-block-end: 1rem; font-weight: 200;}

}



@media (max-width: 600px) {
 	.services__header h2 { font-size: var(--fs-xxl); }
	.services__content__header{width: 100%;}
	.services__content__header p { font-size: var(--fs-md); margin-block-end: 1rem; }

	.services__content__items .service { width: 100%;}

	.services__content__items .service:nth-child(1){top:var(--sticky);}
	.services__content__items .service:nth-child(2){top:calc(var(--sticky) + 4vh);}
	.services__content__items .service:nth-child(3){top:calc(var(--sticky) + 8vh);}
	.services__content__items .service:nth-child(4){top:calc(var(--sticky) + 12vh);}
	.services__content__items .service:nth-child(5){top:calc(var(--sticky) + 16vh);}
	.services__content__items .service:nth-child(6){top:calc(var(--sticky) + 20vh);}
}


/*---------------------------------
FAQ
---------------------------------*/

.faqs__content{ display: flex; flex-direction: column; }

.faqs__content__item{cursor: pointer; border-bottom: 1px solid rgba(255, 255, 255, 0.1); padding: 2rem 0;}
.faqs__content__item summary{ font-size: var(--fs-lg); font-weight: 600; font-family: "Kanit", sans-serif; font-weight: 600; font-style: normal; opacity: 0.5; transition: 0.4s;}
.faqs__content__item summary:hover, .faqs__content__item[open] summary{ opacity: 1;}
.faqs__content__item p{margin-block-start: 1rem; opacity: 0.5; font-size: var(--fs-base); margin-inline-start: 4ch; text-wrap: pretty;}


@media (max-width: 600px) {
	.faqs__content__item summary{ font-size: var(--fs-md); font-weight: 600; font-family: "Kanit", sans-serif; font-weight: 600; font-style: normal; opacity: 0.5; transition: 0.4s;}

	.faqs__content__item p{font-size: var(--fs-sm);}
}



/*---------------------------------
Works
---------------------------------*/
.works__content{display: flex; flex-direction: column; gap:  var(--space-1); ;}

.works__item{border: 1px solid red; display: flex; align-items: center; justify-content: flex-end; position: relative; position: sticky; top:var(--sticky); background: var(--color-1); }

.works__item__media{width: 75%;  margin: 0; position: relative}
.works__item__media::before{content:''; position: absolute; inset: 0; background-color: var(--black); opacity: 0.5;}
.works__item__media img{border-radius: var(--border--radius); }

.works__item__text{width: 50%; position: absolute; left: 0; color: var(--white); z-index: 10;}
.works__item__text h3{font-size: var(--fs-lg); font-weight: 600; font-family: "Kanit", sans-serif; font-weight: 600; font-style: normal; text-transform: uppercase; margin-block-end: 1rem;}
.works__item__text p{font-size: var(--fs-base); opacity: 0.5; text-wrap: pretty; }

@media (max-width: 1200px) {
	.works__item__text{width: 60%;}
	.works__item__text p{font-size: var(--fs-sm); text-wrap: balance; }
}

@media (max-width: 600px) {
	.works__item__media{width: 100%;}
	.works__item__text{width: 100%; position: static;}
	.works__item__text h3{font-size: var(--fs-md);}
	.works__item__text p{font-size: var(--fs-sm); text-wrap: pretty; }
	
	.works__item{flex-direction: column-reverse; gap: 1rem;}
	.works__item:nth-child(1){top:var(--sticky);}
	.works__item:nth-child(2){top:calc(var(--sticky) + 4vh);}
	.works__item:nth-child(3){top:calc(var(--sticky) + 8vh);}
	.works__item:nth-child(4){top:calc(var(--sticky) + 12vh);}
	.works__item:nth-child(5){top:calc(var(--sticky) + 16vh);}
	.works__item:nth-child(6){top:calc(var(--sticky) + 20vh);}

}


/*---------------------------------
Tag
---------------------------------*/
.tag{display: inline-block; margin-right: 1rem; border: 2px solid var(--color-6); padding: 0.6rem 0.8rem; border-radius: 2rem; font-size: 0.8rem; opacity: 1;  font-family: "Kanit", sans-serif; font-weight: 500; font-style: normal; text-transform: uppercase;}
.tag::before{content: '#';}

.tag--color-1{border-color: var(--color-1);}
.tag--color-2{border-color: var(--color-2);}
.tag--color-3{border-color: var(--color-3);}
.tag--color-4{border-color: var(--color-4);}
.tag--color-5{border-color: var(--color-5);}
.tag--color-6{border-color: var(--color-6);}
.tag--color-white{border-color: var(--white);}

@media (max-width: 1200px) {
	.tag{font-size: 0.5rem; padding: 0.4rem 0.6rem;}

}


/*---------------------------------
Banner
---------------------------------*/
.banner{position: relative; height: 60vh;}

.banner__text { width: 86%; z-index: 10; text-wrap:balance;  text-align: right; position: absolute; top: 50%; right: 30%; transform: translate(-0%, -50%); max-width: 1200px;}
.banner__text h2 { font-size: var(--fs-xxl); font-weight: 400; }
.banner__text h2 span { color: var(--color-1); font-family: "Kanit", sans-serif; font-weight: 600; font-style: normal; }
.banner__text h2 strong { font-family: "Kanit", sans-serif; font-weight: 600; font-style: normal; }

.banner__gradient { position: absolute; top: 0; right: 0; height: 100%; width: 70%; background: var(--gradient-1);  z-index: -2; ; }

@media (max-width: 1024px) {
	.banner__text { right: 7%; }
	.banner__text h2 { font-size: var(--fs-xl); }
}


/*---------------------------------
Footer
---------------------------------*/
.footer{background: url(./assets/img/footer\ bg.png); background-repeat: no-repeat; background-size:cover; padding: var(--space-1) 0 ; border: 1px solid red;}

.footer__content img {max-width: 500px; margin-bottom: 1rem; }
.footer__content p{font-size: var(--fs-md); font-weight: 600; font-size: var(--fs-md);}
.footer__content p i{margin-right: 1ch;}
.footer__content p a{text-decoration: none; color: inherit; }

.subfooter p{text-transform: uppercase; font-size: var(--fs-sm); text-align: right; margin-block-start: 1rem;}














