/*---------------------------------
General
---------------------------------*/
:root{
	--fs-sm: clamp(0.8rem, 0.15vi + 0.76rem, 1.13rem);
	--fs-base: clamp(1rem, 0.23vi + 0.94rem, 1.5rem);
	--fs-md: clamp(1.25rem, 0.35vi + 1.16rem, 2rem);
	--fs-lg: clamp(1.56rem, 0.51vi + 1.43rem, 2.67rem);
	--fs-xl: clamp(1.95rem, 0.74vi + 1.77rem, 3.55rem);
	--fs-xxl: clamp(2.44rem, 1.07vi + 2.17rem, 4.74rem);
	--fs-xxxl: clamp(3.05rem, 1.52vi + 2.67rem, 6.31rem);

	--color-1: #131C25;
	--color-2: #28436A;
	--color-3: #852C87;
	--color-4: #ED7004;
	--color-5: #FCC000;
	--color-6: #9A1921;

	--black: #161815;
    --white: #fcfcfc;

	--white-10: #fcfcfc1a;

	--gradient-1: linear-gradient(0deg, var(--color-5) ,var(--color-4));

	--container-size: 86%;
	--container-half-size: calc( (100% - var(--container-size) ) / 2 );

	--border--radius: 0.25rem;

	--space-1: 128px
}

*, *::before, *::after { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: "Source Sans 3", sans-serif; font-optical-sizing: auto; font-weight: 400; font-style: normal; background-color: var(--color-1); color: var(--white) }
img, video { display: block; }
h1 { margin-block-end: 1rem; }
p { margin-block-end: 1rem; font-size: var(--fs-md); line-height: 1.8; }


/*---------------------------------
Helpers
---------------------------------*/
.container { width: var(--container-size); margin-left: auto; margin-right: auto; }



/*---------------------------------
Lenis
---------------------------------*/

html.lenis, html.lenis body { height: auto; }
.lenis.lenis-smooth { scroll-behavior: auto !important; }
.lenis.lenis-smooth [data-lenis-prevent] { overscroll-behavior: contain; }
.lenis.lenis-stopped { overflow: hidden; }
.lenis.lenis-smooth iframe { pointer-events: none; }


/*---------------------------------
Button
---------------------------------*/
.button { background: transparent; outline: none; border: 3px solid var(--white); color: var(--white); font-family: "Kanit", sans-serif; font-weight: 600; font-style: normal; text-transform: uppercase; padding: 1rem; font-size: var(--fs-base); mix-blend-mode: difference; position: relative; border-radius: 0.25rem; cursor: pointer; }
.button::before { content: ''; position: absolute; top: 0; left: 0; background: var(--color-1); width: 40%; height: 100%; z-index: -1; transition: 0.4s; animation: button_animation 3s infinite ease-in-out; }
.button::after { content: '>>'; margin-left: 1ch; }

.button:hover::before { width: 100%; animation: none; transition: 0.4s; animation: button_animation_full 0.8s  ease-in-out; }

@keyframes button_animation {
	0%, 20%, 100% { width: 40%; }
	30% { width: 50% }
	40% { width: 40% }
	75% { width: 40% }
	85% { width: 60% }
 }

@keyframes button_animation_full {
	from { width: 0%; }
	to { width: 100%; }
 }



/*---------------------------------
Header
---------------------------------*/
.header { position: relative; height: 85vh; height: 85svh; border: 1px solid red; }

.header__media { position: absolute; top: 0; right: 0; border: 1px  solid red; height: 100%; aspect-ratio: 9/16; }
.header__media video { width: 100%; height: 100%; object-fit: cover; z-index: -1; }

.header__gradient { position: absolute; top: 0; right: 0; height: 100%; width: 70%; background: var(--gradient-1); border: 1px solid red; z-index: -2; ; }

.header__text { width: 86%; z-index: 10; text-wrap:balance; border: 1px solid red; text-align: right; position: absolute; top: 50%; right: 30%; transform: translate(-0%, -50%); }
.header__text h1 { font-size: var(--fs-xxl); font-weight: 400; }
.header__text h1 span { color: var(--color-1); font-family: "Kanit", sans-serif; font-weight: 600; font-style: normal; }
.header__text h1 strong { font-family: "Kanit", sans-serif; font-weight: 600; font-style: normal; }

@media (max-width: 1024px) {
	.header { display: grid; place-items: center; min-height: 70vh; }
	.header__media { height: 100%; width: 50%; }
	.header__text { position: static; transform: unset; }
	.header__gradient { width: 93%; }
 }



/*---------------------------------
Scroller
---------------------------------*/
.scroller { display: flex; border: 1px solid green; background: var(--white); position: relative; height: 15vh;height: 15svh; align-items: center; }
.scroller::before { content: ''; height: 100%; width: 10%; background: var(--color-6); position:absolute; left: 0; top:0; z-index: 5;}

.scroller__text { border: 2px solid green; margin-left: var(--container-half-size); color: var(--black); display: flex; align-items: center; z-index: 10; }
.scroller__text h2 { font-size: var(--fs-base); font-family: "Kanit", sans-serif; font-weight: 600; font-style: normal;  }

.scroller__media { overflow: hidden; -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent); mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent); height: 80%; ; }
.scroller__media__inner { display: flex; gap: 2rem; overflow: hidden; flex-wrap: nowrap; animation: scroll 20s linear infinite; width: max-content; height: 100%; z-index: -1;position: relative; }

.scroller__media__item { height: 100%; ; border: 1px solid red; aspect-ratio: 5/3; }
.scroller__media__item img { object-fit: contain; height: 100%; width: 100%; }

@keyframes scroll {
	to { transform: translateX(calc(-50% - 1rem)); }
}

@media (max-width: 600px) {
	.scroller::before { width: 20%; }
}


/*---------------------------------
Text
---------------------------------*/
.text { margin-block: var(--space-1); display: flex; flex-direction: row-reverse; justify-content: space-between; align-items: flex-start; gap: 1rem; }

.text__head { position: sticky; top: 35vh; border: 1px solid red; }
.text__head h2 { font-size: calc(var(--fs-xxxl) * 1.8); font-family: "Kanit", sans-serif; font-weight: 600; font-style: normal; text-transform: uppercase; letter-spacing: 2px; opacity: 0.1; writing-mode: vertical-lr; }
.text__head h2::before { content: '/'; }

.text__body { max-width: 120ch; }
.text__body h3 { font-size: var(--fs-xl); margin-block-end: 1rem; font-weight: 200; }

@keyframes scroll-reveal {
	to { background-position: 100% 100%; }
}

@media (max-width: 600px) {
	.text__head h2 { font-size: var(--fs-xxl); }
	.text__body h3 { font-size: var(--fs-md); margin-block-end: 1rem; }
	.text__body p { font-size: var(--fs-base); }
}


/*---------------------------------
Services
---------------------------------*/
.services { margin-block: var(--space-1); display: flex; justify-content: space-between; align-items: flex-start; gap: 1rem; }
.services__head { position: sticky; top: 15vh; border: 1px solid red; width: 20%; }

.services__head h2 { font-size: calc(var(--fs-xxxl) * 1.8); font-family: "Kanit", sans-serif; font-weight: 600; font-style: normal; text-transform: uppercase; letter-spacing: 2px; opacity: 0.1; writing-mode: vertical-lr; }
.services__head h2::before { content: '/'; }

.services__body{width: 80%; border: 1px solid red;;}
.services__body__title{ max-width: 80ch;}
.services__body__title h3 { font-size: var(--fs-sm); margin-block-end: 0.4rem; }
.services__body__title p { font-size: var(--fs-xl); margin-block-end: 1rem; font-weight: 200;}


.services__body__items{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20vh 2rem;
}

.services__body__items .service{
	flex-grow: 1;
	flex-basis: 300px;
	border: 1px solid yellow;
}

.services__body__items .service__media {
	aspect-ratio: 1;
}

.services__body__items .service__media img {
	height: 100%;
	object-fit: cover;
	width: 100%;;;
}

.service{
	position: sticky;
	top:15vh;
	background: var(--color-1);
}

.service__text h4{
	font-size: var(--fs-base);
	margin-block-start: 1rem;
	margin-block-end: 0.5rem;
}

.service__text p{
	font-size: var(--fs-sm);
	opacity: 0.5;
}

@media (max-width: 600px) {
	.services__head h2 { font-size: var(--fs-xxl); }
	.services__body__title p { font-size: var(--fs-md); margin-block-end: 1rem; }

}
